apiVersion: apps/v1
kind: Deployment
metadata:
  name: cloud-app-deployment
  namespace: cloud
  labels:
    app: cloud-app
spec:
  replicas: 3
  selector:
    matchLabels:
      app: cloud-app
  template:
    metadata:
      labels:
        app: cloud-app
    spec:
      containers:
      - name: cloud-app
        image: cimox/cloud-app:0.0.4
        ports:
        - containerPort: 5000
        env:
          - name: CLOUD_APP_HOST
            value: '0.0.0.0'
          - name: CLOUD_APP_PORT
            value: '5000'
          - name: EDGE_API_URL
            value: 'http://edge-app-service.edge.svc.cluster.local:5000/job'
        livenessProbe:
          httpGet:
            path: /ready
            port: 5000
          initialDelaySeconds: 3
          periodSeconds: 3
        readinessProbe:
          httpGet:
            path: /ready
            port: 5000
          initialDelaySeconds: 3
          periodSeconds: 3
          successThreshold: 1
          failureThreshold: 5
---
apiVersion: v1
kind: Service
metadata:
  name: cloud-app-service
  namespace: cloud
spec:
  selector:
    app: cloud-app
  ports:
    - protocol: TCP
      port: 5000
      targetPort: 5000
